body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.h1 {
    text-align: center;
    margin: 20px 0;
}

.container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.controls {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
    
}

.input {
    flex: 1;
    padding: 8px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.note {
    width: 100%;
    padding: 15px 10px;
    border-bottom: 1px solid blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
}

.note:hover {
    border-bottom: 3px solid red;
}

.editDelete {
    display: flex;
    gap: 5px;
}




.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode .container {
    border-color: #444;
}

.dark-mode .note {
    border-bottom-color: #555;
}

.dark-mode .note:hover {
    border-bottom-color: #7e2b1c; 
}

.dark-mode input,
.dark-mode button {
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
}
.salom{
    border-radius: 30px;
}